<launch>
	<include file="$(find curiosity_mars_rover_description)/launch/curiosity_mars_rover_spawn.launch"/>
	<include file="$(find curiosity_mars_rover_description)/launch/curiosity_mars_rover_control.launch"/>
	<include file="$(find curiosity_mars_rover_description)/launch/curiosity_mars_rover_systems.launch"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find curiosity_mars_rover_description)/rviz/curiosity_mars_rover.rviz" />
</launch>